In [1]:
import pandas as pd
import numpy as np
from apply import apply

In [181]:
df1= pd.read_excel("Estudiantes.xlsx")

## Seleccionar solo las columnas que vamos a usar, para no tener tanta cosa.
## y botar los nulos

df1 = df1.loc[:,[ 'Código de la institución educativa','Grado', 'Grupo',
                 'Número de lista', 'Edad', 'Sexo']]

diccionariogrados={'Noveno':"09", 'Octavo':"08", 'Sexto':"06", 'Décimo':"10", 'Séptimo':"07", 'Once':"11", 'Quinto':"05"}
df1["Grado"]=df1["Grado"].replace(diccionariogrados)
#id-> códigoinst+Grado+Grupo+númerodelista

df1.loc[(df1.index.isin(range(9024,9123)))&(df1['Código de la institución educativa']==105),'Código de la institución educativa'] = 103

In [182]:
df1=df1.dropna(subset=["Grupo"], inplace=False) #para eliminar filas con valores nan
df1['Grupo']=df1['Grupo'].astype(str) #volver todo una cadena
df1['Grupo'].unique()

array(['B o 02', 'A o 01', 'D o 04', 'E o 05', '9-F', '9f', 'f', 'f o 06',
       'F', 'f o 06 ', '9.f', '6g', '6G', '6 g', '6 G', 'G o 06', '6-G',
       'Noveno E', '16.0', '11-16', '1116.0', '906.0', '0 o 6', 'f o 6',
       '06', '6 seis', '6.0', 'C o 03', '6 C', '6 c', '07', '607.0',
       '7.0', '15.0', '9-1', 'No 1', 'noveno 1', '9.1', '9-2', '902.0',
       '9_2', '2.0', 'b_2', '6-3', '603.0', '604.0', '9.0', '905.0',
       '95.0', '6-8', '608.0', 'H O 608', '08', '6-08', '6 o 08', '9-5',
       'f o 08', '6 08', '0 8', '606.0', '9-6', '96.0', '09', '6`-7',
       '6-7', '605.0', '9-4', 'sexto tres', 'Seis 3', 'sexto 3',
       'sexto  tres', '6.3', 'sexto   tres', '6-1', 'G o 07', '6.7',
       '809.0', '71.0', '6a', 'o7', '0 7', 'g o 07', 'G O 07', 'G o 7',
       'g o7', '6 o 07', 'g o  07', 'G 07', 'G 0 07', 'G 07 ', '07+',
       'g  07', 'G o  07', 'SEXTO G O7', '6-07', 'g', "9'07", "9'07´",
       ' G-07', 'G - 07', 'g 06', '9 07', 'g° 07', 'co06', '6-2', '62.0',
       '901.0', '9.4', '6-4', '602.0', '9-3', '3.0', '9.3', '903.0',
       '8-1', '11.0', '6.4', '6 B', '6c', 'F o 06', 'I o 09', 'J o 10',
       'k11', 'k o 11', '6:11', '9 - 6', '702.0', '904.0',
       'jornada tarde 03', 'H o 08', 'Jornada tarde 603', '6.5',
       '6-5 colegio san simon ', '6-5', '611.0', '601.0', '601 o a',
       'urbano', '12.0', '9-12', 'L o 12', '9_12', '14.0', '6-6 ', '9-7',
       '6-6', 'no se que significa lo de grupo ', '9 A', 'no conozco',
       'nose'], dtype=object)

In [183]:
df1["Grupo"]=df1["Grupo"].str.replace(" ","")
df1["Grupo"]=df1["Grupo"].str.capitalize().str.replace("Sexto","").str.replace("Noveno","").str.replace("seis","")
df1['Grupo']=df1['Grupo'].str.replace("Jornadatarde","")
df1['Grupo']=df1['Grupo'].str.replace("colegiosansimon","")
df1['Grupo'].unique()

array(['Bo02', 'Ao01', 'Do04', 'Eo05', '9-f', '9f', 'F', 'Fo06', '9.f',
       '6g', 'Go06', '6-g', 'e', '16.0', '11-16', '1116.0', '906.0',
       '0o6', 'Fo6', '06', '6', '6.0', 'Co03', '6c', '07', '607.0', '7.0',
       '15.0', '9-1', 'No1', '1', '9.1', '9-2', '902.0', '9_2', '2.0',
       'B_2', '6-3', '603.0', '604.0', '9.0', '905.0', '95.0', '6-8',
       '608.0', 'Ho608', '08', '6-08', '6o08', '9-5', 'Fo08', '608',
       '606.0', '9-6', '96.0', '09', '6`-7', '6-7', '605.0', '9-4',
       'tres', 'Seis3', '3', '6.3', '6-1', 'Go07', '6.7', '809.0', '71.0',
       '6a', 'O7', 'Go7', '6o07', 'G07', 'G007', '07+', 'go7', '6-07',
       'G', "9'07", "9'07´", 'G-07', 'G06', '907', 'G°07', 'Co06', '6-2',
       '62.0', '901.0', '9.4', '6-4', '602.0', '9-3', '3.0', '9.3',
       '903.0', '8-1', '11.0', '6.4', '6b', 'Io09', 'Jo10', 'K11', 'Ko11',
       '6:11', '702.0', '904.0', '03', 'Ho08', '603', '6.5', '6-5',
       '611.0', '601.0', '601oa', 'Urbano', '12.0', '9-12', 'Lo12',
       '9_12', '14.0', '6-6', '9-7', 'Nosequesignificalodegrupo', '9a',
       'Noconozco', 'Nose'], dtype=object)

In [184]:
#Respuesta de las encuestas
diccionariogrupos1={'Bo02':"02", 'Ao01':"01",'Co03':"03", 'Do04':"04", 'Eo05':"05", 'Fo06':"06", 'Go07':"07", 'Ho08':"08", 'Io09':"09", 'Jo10':"10", 'Ko11':"11", 'Lo12':"12", "Urbano":None, "Nosequesignificalodegrupo":None, "Noconozco":None, "Nose":None} #valor exactamente igual
df1["Grupo"]=df1["Grupo"].replace(diccionariogrupos1)
df1=df1.dropna(subset=["Grupo"], inplace=False)
df1['Grupo'].unique()

array(['02', '01', '04', '05', '9-f', '9f', 'F', '06', '9.f', '6g',
       'Go06', '6-g', 'e', '16.0', '11-16', '1116.0', '906.0', '0o6',
       'Fo6', '6', '6.0', '03', '6c', '07', '607.0', '7.0', '15.0', '9-1',
       'No1', '1', '9.1', '9-2', '902.0', '9_2', '2.0', 'B_2', '6-3',
       '603.0', '604.0', '9.0', '905.0', '95.0', '6-8', '608.0', 'Ho608',
       '08', '6-08', '6o08', '9-5', 'Fo08', '608', '606.0', '9-6', '96.0',
       '09', '6`-7', '6-7', '605.0', '9-4', 'tres', 'Seis3', '3', '6.3',
       '6-1', '6.7', '809.0', '71.0', '6a', 'O7', 'Go7', '6o07', 'G07',
       'G007', '07+', 'go7', '6-07', 'G', "9'07", "9'07´", 'G-07', 'G06',
       '907', 'G°07', 'Co06', '6-2', '62.0', '901.0', '9.4', '6-4',
       '602.0', '9-3', '3.0', '9.3', '903.0', '8-1', '11.0', '6.4', '6b',
       '10', 'K11', '11', '6:11', '702.0', '904.0', '603', '6.5', '6-5',
       '611.0', '601.0', '601oa', '12.0', '9-12', '12', '9_12', '14.0',
       '6-6', '9-7', '9a'], dtype=object)

In [185]:
df1["Grupo"]=df1["Grupo"].str.replace("_","")
df1["Grupo"]=df1["Grupo"].str.replace("`","")
df1["Grupo"]=df1["Grupo"].str.replace("´","")
df1["Grupo"]=df1["Grupo"].str.replace(":","")
df1["Grupo"]=df1["Grupo"].str.replace("-","")
df1["Grupo"]=df1["Grupo"].str.replace("'","")
df1["Grupo"]=df1["Grupo"].str.replace("+","")
df1['Grupo'].unique()

C:\Users\cvieira\AppData\Local\Temp\ipykernel_1400\2118063359.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1["Grupo"]=df1["Grupo"].str.replace("+","")

array(['02', '01', '04', '05', '9f', 'F', '06', '9.f', '6g', 'Go06', 'e',
       '16.0', '1116', '1116.0', '906.0', '0o6', 'Fo6', '6', '6.0', '03',
       '6c', '07', '607.0', '7.0', '15.0', '91', 'No1', '1', '9.1', '92',
       '902.0', '2.0', 'B2', '63', '603.0', '604.0', '9.0', '905.0',
       '95.0', '68', '608.0', 'Ho608', '08', '608', '6o08', '95', 'Fo08',
       '606.0', '96', '96.0', '09', '67', '605.0', '94', 'tres', 'Seis3',
       '3', '6.3', '61', '6.7', '809.0', '71.0', '6a', 'O7', 'Go7',
       '6o07', 'G07', 'G007', 'go7', '607', 'G', '907', 'G06', 'G°07',
       'Co06', '62', '62.0', '901.0', '9.4', '64', '602.0', '93', '3.0',
       '9.3', '903.0', '81', '11.0', '6.4', '6b', '10', 'K11', '11',
       '611', '702.0', '904.0', '603', '6.5', '65', '611.0', '601.0',
       '601oa', '12.0', '912', '12', '14.0', '66', '97', '9a'],
      dtype=object)

In [186]:
df1["Grupo"]=df1["Grupo"].replace(r'[Gg](.*)',"07",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[Ff](.*)',"06",regex=True) #regex buscador
df1["Grupo"]=df1["Grupo"].replace(r'[Hh](.*)',"08",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[Kk](.*)',"11",regex=True)
df1["Grupo"]=df1["Grupo"].str.replace("No","")
df1['Grupo'].unique()

array(['02', '01', '04', '05', '906', '06', '9.06', '607', '07', 'e',
       '16.0', '1116', '1116.0', '906.0', '0o6', '6', '6.0', '03', '6c',
       '607.0', '7.0', '15.0', '91', '1', '9.1', '92', '902.0', '2.0',
       'B2', '63', '603.0', '604.0', '9.0', '905.0', '95.0', '68',
       '608.0', '08', '608', '6o08', '95', '606.0', '96', '96.0', '09',
       '67', '605.0', '94', 'tres', 'Seis3', '3', '6.3', '61', '6.7',
       '809.0', '71.0', '6a', 'O7', '6o07', '907', 'Co06', '62', '62.0',
       '901.0', '9.4', '64', '602.0', '93', '3.0', '9.3', '903.0', '81',
       '11.0', '6.4', '6b', '10', '11', '611', '702.0', '904.0', '603',
       '6.5', '65', '611.0', '601.0', '601oa', '12.0', '912', '12',
       '14.0', '66', '97', '9a'], dtype=object)

In [187]:
#cambiando letras por números
diccionariogrupos1={'Tres':"03",'tres':"03",'Seis3':"03",'6seis':"06"}
df1["Grupo"]=df1["Grupo"].replace(diccionariogrupos1)
df1=df1.dropna(subset=["Grupo"], inplace=False)
df1['Grupo'].unique()

array(['02', '01', '04', '05', '906', '06', '9.06', '607', '07', 'e',
       '16.0', '1116', '1116.0', '906.0', '0o6', '6', '6.0', '03', '6c',
       '607.0', '7.0', '15.0', '91', '1', '9.1', '92', '902.0', '2.0',
       'B2', '63', '603.0', '604.0', '9.0', '905.0', '95.0', '68',
       '608.0', '08', '608', '6o08', '95', '606.0', '96', '96.0', '09',
       '67', '605.0', '94', '3', '6.3', '61', '6.7', '809.0', '71.0',
       '6a', 'O7', '6o07', '907', 'Co06', '62', '62.0', '901.0', '9.4',
       '64', '602.0', '93', '3.0', '9.3', '903.0', '81', '11.0', '6.4',
       '6b', '10', '11', '611', '702.0', '904.0', '603', '6.5', '65',
       '611.0', '601.0', '601oa', '12.0', '912', '12', '14.0', '66', '97',
       '9a'], dtype=object)

In [188]:
df1["Grupo"]=df1["Grupo"].replace(r'[Aa](.*)',"01",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[Bb](.*)',"02",regex=True) #regex buscador
df1["Grupo"]=df1["Grupo"].replace(r'[Cc](.*)',"03",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[Ee](.*)',"04",regex=True)
df1["Grupo"]=df1["Grupo"].str.replace("o","")
df1["Grupo"].unique()

array(['02', '01', '04', '05', '906', '06', '9.06', '607', '07', '16.0',
       '1116', '1116.0', '906.0', '6', '6.0', '03', '603', '607.0', '7.0',
       '15.0', '91', '1', '9.1', '92', '902.0', '2.0', '63', '603.0',
       '604.0', '9.0', '905.0', '95.0', '68', '608.0', '08', '608', '95',
       '606.0', '96', '96.0', '09', '67', '605.0', '94', '3', '6.3', '61',
       '6.7', '809.0', '71.0', '601', 'O7', '907', '62', '62.0', '901.0',
       '9.4', '64', '602.0', '93', '3.0', '9.3', '903.0', '81', '11.0',
       '6.4', '602', '10', '11', '611', '702.0', '904.0', '6.5', '65',
       '611.0', '601.0', '60101', '12.0', '912', '12', '14.0', '66', '97',
       '901'], dtype=object)

In [189]:
df1["Grupo"]=df1["Grupo"].str.replace("O","")
df1["Grupo"]=df1["Grupo"].str.replace(".0","", regex=False)
df1["Grupo"]=df1["Grupo"].str.replace(".","")
df1['Grupo'].unique()

C:\Users\cvieira\AppData\Local\Temp\ipykernel_1400\2981865898.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1["Grupo"]=df1["Grupo"].str.replace(".","")

array(['02', '01', '04', '05', '906', '06', '96', '607', '07', '16',
       '1116', '6', '03', '603', '7', '15', '91', '1', '92', '902', '2',
       '63', '604', '9', '905', '95', '68', '608', '08', '606', '09',
       '67', '605', '94', '3', '61', '809', '71', '601', '907', '62',
       '901', '64', '602', '93', '903', '81', '11', '10', '611', '702',
       '904', '65', '60101', '12', '912', '14', '66', '97'], dtype=object)

In [190]:
df1['Grupo']=[x[-2:] if int(x[-2:])<20 else x[-1] for x in df1["Grupo"]]
df1['Grupo']=df1['Grupo'].str.zfill(2)
df1['Grupo'].unique()

array(['02', '01', '04', '05', '06', '07', '16', '03', '15', '09', '08',
       '11', '10', '12', '14'], dtype=object)

In [191]:
df1= df1[df1['Número de lista'] < 60]
df1['Número de lista']=df1['Número de lista'].astype(int)
df1['Número de lista']=df1['Número de lista'].astype(str)
df1['Número de lista']=df1['Número de lista'].str.zfill(2)
df1['Número de lista'].unique()

array(['03', '07', '30', '06', '10', '09', '02', '29', '19', '12', '22',
       '04', '16', '15', '11', '24', '18', '23', '08', '21', '27', '13',
       '17', '28', '01', '14', '05', '20', '31', '26', '34', '36', '32',
       '33', '25', '37', '35', '40', '39', '38', '41', '44', '43', '42',
       '45', '50', '49', '46', '47', '52', '48', '54', '57', '55'],
      dtype=object)

In [192]:
df1= df1[df1['Código de la institución educativa'] > 0]
df1= df1[df1['Código de la institución educativa'] < 271]
df1['Código de la institución educativa']=df1['Código de la institución educativa'].astype(int)
df1['Código de la institución educativa']=df1['Código de la institución educativa'].astype(str)
df1['Código de la institución educativa']=df1['Código de la institución educativa'].str.zfill(3)
df1['Código de la institución educativa'].unique()

array(['166', '247', '116', '107', '092', '211', '122', '046', '036',
       '027', '152', '231', '102', '235', '002', '001', '213', '130',
       '172', '252', '103', '072', '019', '026', '098', '022', '020',
       '043', '075', '110', '042', '045', '123', '017', '218', '034',
       '011', '033', '006', '018', '226', '023', '181', '032', '012',
       '058', '167', '038', '100', '183', '176', '182', '179', '240',
       '165', '153', '128', '021', '074', '028', '029', '180', '003',
       '228', '007', '016', '162', '010', '170', '059', '053', '178',
       '227', '185', '177', '248', '030', '168', '222', '132', '175',
       '097', '035', '048', '106', '241', '024', '004', '079', '114',
       '071', '230', '040', '163', '093', '224', '073', '082', '080',
       '061', '083', '015', '173', '031', '069', '229', '244', '005',
       '014', '025', '225', '095', '204', '209', '057', '009', '250',
       '077', '131', '067', '041', '094', '223', '233', '259', '171',
       '251', '089', '117', '184', '169', '112', '208', '099', '054',
       '013', '236', '008', '129', '189', '246', '139', '039', '108',
       '190', '121', '055', '115', '105', '051', '219', '202', '200',
       '056', '249', '037'], dtype=object)

In [193]:
df1['ID']=df1['Código de la institución educativa']+df1['Grado']+df1['Grupo']+df1['Número de lista']
df1['ID'].unique()
df1.head()

,Código de la institución educativa,Grado,Grupo,Número de lista,Edad,Sexo,ID
1,166,09,02,03,14.0,Masculino,166090203
2,166,09,02,07,16.0,Masculino,166090207
3,166,09,02,30,14.0,Femenino,166090230
4,166,09,02,06,15.0,Masculino,166090206
5,166,09,02,10,14.0,Femenino,166090210

In [231]:
df2= df1.loc[:,[ 'Código de la institución educativa','ID']]
df2['Instrumento']="Encuesta estudiantes"
#en columna de instrumento, colocar encuesta estudiantes
    
df2=df2.rename(columns={'Código de la institución educativa':'Código IE'})

In [258]:
df3=pd.read_excel("Docentes.xlsx") #1461 datos
df3['Instrumento']="Encuesta docentes"
df3=df3.rename(columns={'Código de la institución educativa suministrado por el proyecto ':'Código IE' , 'Número de documento':'ID'})
df3=df3.dropna(subset=["Código IE"], inplace=False) #se borran 37 datos, quedan 1424

In [259]:
diccionariodocentes={'Nueva Esperanza La Palma ':150}
df3["Código IE"]=df3["Código IE"].replace(diccionariodocentes)
df3["Código IE"]=df3["Código IE"].astype(str)
df3["Código IE"]=df3["Código IE"].str.replace(".0","", regex=False)
df3["Código IE"]=df3["Código IE"].str.replace(".","")
df3["Código IE"].unique()

C:\Users\cvieira\AppData\Local\Temp\ipykernel_1400\3082214720.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df3["Código IE"]=df3["Código IE"].str.replace(".","")

array(['163', '150', '206', '231', '176', '129', '166', '55', '151',
       '176109000311', '211', '000', '92', '166001006008', '21', '107',
       '76', '198', '199', '7', '247', '183', '07', '67', '66', '152',
       '186', '5', '128', '218', '8', '205', '179', '185', '213', '88',
       '203', '2', '159', '212', '123', '72', '46', '98', '0000', '1',
       '52', '54', '57', '110', '64', '189', '62', '130', '32', '47',
       '252', '226', '93', '227', '235', '35', '20', '167', '121', '10',
       '27', '142', '43', '39', '178', '6', '63', '26', '96', '30', '99',
       '103', '00', '74', '153', '165', '53', '210', '71', '119', '13',
       '238', '229', '230', '59', '109', '215', '90', '148', '237', '240',
       '187', '69', '145', '208', '70', '184', '168', '105', '97', '114',
       '89', '180', '34', '132', '29', '214', '01', '162', '51', '48',
       '3', '177', '201', '244', '241', '49', '242', '255', '22', '100',
       '232', '56', '224', '94', '133', '217', '122', '0207', '116',
       '228', '36', '288', '14', '73', '68', '181', '61', '75', '169',
       '11', '23', '4', '15', '250', '127', '03', '95', '243', '45',
       '112', '195', '117', '131', '79', '77', '149', '155', '115', '111',
       '12', '233', '41', '91', '154', '204', '50', '223', '197', '216',
       '057', '188', '174', '19', '161', '251', '9', '120', '113', '221',
       '0', '191', '83', '65', '42', '28', '146', '31', '171', '200',
       '141', '220', '118', '246', '225', '24', '193', '125', '44', '38',
       '16', '190', '160', '236', '136', '126', '58', '80', '101', '05',
       '108', '222', '82', '172', '156', '157', '182', '173', '170',
       '209', '245', '104', '219'], dtype=object)

In [262]:
df3['Código IE']=df3['Código IE'].astype(float)
df3['Código IE']=df3['Código IE'].astype(int)
df3= df3[df3['Código IE'] > 0]
df3=df3[df3['Código IE']<271]
df3['Código IE']=df3['Código IE'].astype(str)
df3['Código IE']=df3['Código IE'].str.zfill(3)
df3['Código IE'].unique()

array(['163', '150', '206', '231', '176', '129', '166', '055', '151',
       '211', '092', '021', '107', '076', '198', '199', '007', '247',
       '183', '067', '066', '152', '186', '005', '128', '218', '008',
       '205', '179', '185', '213', '088', '203', '002', '159', '212',
       '123', '072', '046', '098', '001', '052', '054', '057', '110',
       '064', '189', '062', '130', '032', '047', '252', '226', '093',
       '227', '235', '035', '020', '167', '121', '010', '027', '142',
       '043', '039', '178', '006', '063', '026', '096', '030', '099',
       '103', '074', '153', '165', '053', '210', '071', '119', '013',
       '238', '229', '230', '059', '109', '215', '090', '148', '237',
       '240', '187', '069', '145', '208', '070', '184', '168', '105',
       '097', '114', '089', '180', '034', '132', '029', '214', '162',
       '051', '048', '003', '177', '201', '244', '241', '049', '242',
       '255', '022', '100', '232', '056', '224', '094', '133', '217',
       '122', '207', '116', '228', '036', '014', '073', '068', '181',
       '061', '075', '169', '011', '023', '004', '015', '250', '127',
       '095', '243', '045', '112', '195', '117', '131', '079', '077',
       '149', '155', '115', '111', '012', '233', '041', '091', '154',
       '204', '050', '223', '197', '216', '188', '174', '019', '161',
       '251', '009', '120', '113', '221', '191', '083', '065', '042',
       '028', '146', '031', '171', '200', '141', '220', '118', '246',
       '225', '024', '193', '125', '044', '038', '016', '190', '160',
       '236', '136', '126', '058', '080', '101', '108', '222', '082',
       '172', '156', '157', '182', '173', '170', '209', '245', '104',
       '219'], dtype=object)

In [263]:
df3['ID']=df3['ID'].astype(int) #empezamos con 1416
df3= df3[df3['ID'] >= 1000000] #perdemos 12 datos
df3= df3[df3['ID'] < 3000000000] #no hay datos con más de 10 cifras, quedan 1404 datos
df3=df3.dropna(subset=["Código IE"], inplace=False)

In [264]:
df2=pd.concat([df2,df3],ignore_index=True,join="inner")
#pd.concat([df1, df3], join="inner")

In [265]:
df4=pd.read_excel("Directivos.xlsx")
df4['Instrumento']="Encuesta directivos"
df4=df4.rename(columns={'Código CFK (Código de la institución educativa suministrado por el proyecto)':'Código IE' , 'Número de identificación':'ID'})
df4=df4.dropna(subset=['Código IE'],inplace=False)
df4=df4.dropna(subset=['ID'],inplace=False) #iniciamos con 158 datos no nulos

In [266]:
df4['Código IE']=df4['Código IE'].astype(int)
df4=df4[df4['Código IE'] > 0]
df4=df4[df4['Código IE']<271]
df4['Código IE']=df4['Código IE'].astype(str)
df4['Código IE']=df4['Código IE'].str.zfill(3)
df4['Código IE'].unique() #se mantienen 158 datos

array(['090', '206', '235', '032', '211', '021', '198', '166', '092',
       '066', '004', '231', '151', '247', '007', '076', '183', '205',
       '186', '176', '129', '152', '062', '088', '098', '174', '236',
       '145', '185', '213', '144', '179', '055', '043', '228', '002',
       '107', '150', '054', '218', '064', '072', '226', '046', '238',
       '110', '130', '189', '172', '252', '200', '197', '199', '035',
       '169', '020', '167', '142', '217', '063', '121', '210', '153',
       '119', '096', '089', '099', '103', '074', '003', '165', '053',
       '222', '148', '069', '010', '237', '071', '170', '027', '162',
       '070', '114', '106', '034', '097', '084', '132', '080', '051',
       '214', '212', '188', '202', '244', '248', '157', '049', '048',
       '175', '163', '116', '224', '005', '187', '001', '109', '133',
       '177', '091', '223', '149', '093', '241', '036', '056', '082',
       '014', '229', '015', '233', '094', '075', '117', '087', '112',
       '250', '216', '120', '127', '155', '215', '168', '225', '045',
       '147', '061', '073', '057', '065', '077', '041', '203', '086',
       '012', '050', '251', '131', '104', '111', '113', '184', '009',
       '022', '011', '230', '016', '161', '042', '178', '058', '052',
       '059', '220', '221', '118', '160', '208', '136', '181', '024',
       '234', '204', '019', '171', '180', '232', '246', '108', '085',
       '028', '030', '067', '101', '100', '115', '138', '039', '095',
       '123', '164', '154', '026', '006', '128', '146', '240', '126',
       '083'], dtype=object)

In [267]:
df4= df4[df4['ID'] >= 1000000] 
df4= df4[df4['ID'] < 3000000000] #quedan 156
df4=df4.dropna(subset=['ID'],inplace=False)

In [268]:
df2=pd.concat([df2,df4],ignore_index=True,join="inner") #4565 datos

In [269]:
df5=pd.read_excel("Líderes.xlsx") #19 datos
df5['Instrumento']="Encuesta Líderes"
df5=df5.rename(columns={'Código de la institución educativa asignado por el proyecto':'Código IE'})
df5=df5.dropna(subset=['Código IE'],inplace=False)

In [270]:
df5['Código IE']=df5['Código IE'].astype(int)
df5=df5[df5['Código IE'] > 0]
df5=df5[df5['Código IE']<271]
df5['Código IE']=df5['Código IE'].astype(str)
df5['Código IE']=df5['Código IE'].str.zfill(3)
df5['Código IE'].unique() #se mantienen 158 datos

array(['001', '033', '004', '129', '007', '231', '092', '063', '166',
       '055', '213', '211', '151', '186', '107', '152', '066', '206',
       '123', '176', '235', '185', '002', '226', '098', '062', '130',
       '054', '252', '150', '183', '064', '218', '046', '043', '110',
       '167', '006', '182', '237', '121', '072', '165', '228', '096',
       '003', '053', '067', '162', '227', '170', '216', '148', '074',
       '179', '109', '047', '177', '230', '097', '248', '132', '149',
       '214', '168', '051', '027', '059', '069', '071', '222', '163',
       '026', '229', '056', '093', '133', '108', '147', '079', '088',
       '090', '080', '005', '036', '181', '178', '217', '188', '122',
       '155', '095', '225', '061', '112', '023', '070', '180', '083',
       '082', '189', '203', '041', '086', '050', '161', '068', '094',
       '052', '131', '065', '015', '111', '057', '238', '019', '128',
       '042', '154', '250', '184', '187', '077', '076', '075', '020',
       '021', '116', '251', '114', '117', '119', '136', '118', '160',
       '073', '010', '011', '012', '048', '049', '045', '028', '039',
       '008', '044', '013', '124', '058', '210', '205', '220', '221',
       '224', '101', '100', '105', '099', '103', '104', '035', '204',
       '115', '164', '138', '190', '249', '009', '239', '241', '243'],
      dtype=object)

In [271]:
df5['ID']=df5.index
df2=pd.concat([df2,df5],ignore_index=True,join="inner") #4584 datos

In [272]:
df6=pd.read_excel("Equipos.xlsx") #19 datos
df6['Instrumento']="Encuesta Equipos"
df6=df6.rename(columns={'Código de la Institución Educativa, provisto por el proyecto':'Código IE'})
df6=df6.dropna(subset=['Código IE'],inplace=False)

df6['Código IE']=df6['Código IE'].astype(int)
df6=df6[df6['Código IE']<271]
df6=df6[df6['Código IE'] > 0]
df6['Código IE']=df6['Código IE'].astype(str)
df6['Código IE']=df6['Código IE'].str.zfill(3)

df6['ID']=df6.index
df2=pd.concat([df2,df6],ignore_index=True,join="inner") #4584 datos
#ID

In [273]:
df7=pd.read_excel("PlanesEstudio.xlsx")
df7['Instrumento']="Encuesta Planes de estudio"
df7=df7.rename(columns={'Código de la institución educativa asignado por el proyecto':'Código IE'})
df7=df7.dropna(subset=['Código IE'],inplace=False)

df7['Código IE']=df7['Código IE'].astype(int)
df7=df7[df7['Código IE']<271]
df7=df7[df7['Código IE'] > 0]
df7['Código IE']=df7['Código IE'].astype(str)
df7['Código IE']=df7['Código IE'].str.zfill(3)

df7['ID']=df7.index
df2=pd.concat([df2,df7],ignore_index=True,join="inner")
#ID

In [287]:
pivot=df2.pivot_table(index='Código IE',columns='Instrumento', values='ID', aggfunc= 'count')
pivot=pivot.reset_index()
pivot
#plan de estudio, equipos
#excel

Instrumento,Código IE,Encuesta Equipos,Encuesta Líderes,Encuesta Planes de estudio,Encuesta directivos,Encuesta docentes,Encuesta estudiantes
0,001,1.0,1.0,1.0,1.0,48.0,122.0
1,002,1.0,1.0,1.0,3.0,15.0,38.0
2,003,1.0,1.0,1.0,2.0,23.0,58.0
3,004,1.0,1.0,1.0,2.0,12.0,46.0
4,005,1.0,1.0,1.0,2.0,51.0,109.0
...,...,...,...,...,...,...,...
238,250,1.0,1.0,1.0,3.0,43.0,83.0
239,251,1.0,1.0,1.0,5.0,52.0,121.0
240,252,1.0,2.0,1.0,1.0,22.0,56.0
241,255,NaN,NaN,NaN,NaN,4.0,NaN
242,259,NaN,NaN,NaN,NaN,NaN,1.0

In [288]:
pivot=pivot.fillna(0)
pivot['Fecha'] =pd.Timestamp.today()
pivot['Fecha']=pivot['Fecha'].dt.strftime("%d-%m-%Y")
pivot

Instrumento,Código IE,Encuesta Equipos,Encuesta Líderes,Encuesta Planes de estudio,Encuesta directivos,Encuesta docentes,Encuesta estudiantes,Fecha
0,001,1.0,1.0,1.0,1.0,48.0,122.0,12-05-2022
1,002,1.0,1.0,1.0,3.0,15.0,38.0,12-05-2022
2,003,1.0,1.0,1.0,2.0,23.0,58.0,12-05-2022
3,004,1.0,1.0,1.0,2.0,12.0,46.0,12-05-2022
4,005,1.0,1.0,1.0,2.0,51.0,109.0,12-05-2022
...,...,...,...,...,...,...,...,...
238,250,1.0,1.0,1.0,3.0,43.0,83.0,12-05-2022
239,251,1.0,1.0,1.0,5.0,52.0,121.0,12-05-2022
240,252,1.0,2.0,1.0,1.0,22.0,56.0,12-05-2022
241,255,0.0,0.0,0.0,0.0,4.0,0.0,12-05-2022
242,259,0.0,0.0,0.0,0.0,0.0,1.0,12-05-2022

In [289]:
Instrumentos = '../../data/InstrumentosCFK.xlsx'

# saving the excelsheet
pivot.to_excel(Instrumentos)