In [1]:
import pandas as pd

In [35]:
df1= pd.read_excel("Estudiantes.xlsx")

## Seleccionar solo las columnas que vamos a usar, para no tener tanta cosa.
## y botar los nulos

df1 = df1.loc[:,[ 'Código de la institución educativa','Grado', 'Grupo',
                 'Número de lista', 'Edad', 'Sexo']]

diccionariogrados={'Noveno':"09", 'Octavo':"08", 'Sexto':"06", 'Décimo':"10", 'Séptimo':"07", 'Once':"11", 'Quinto':"05"}
df1["Grado"]=df1["Grado"].replace(diccionariogrados)
df1["Grupo"].unique()
#id-> códigoinst+Grado+Grupo+númerodelista

array([nan, 'B o 02', 'A o 01', 'D o 04', 'E o 05', '9-F', '9f', 'f',
       'f o 06', 'F', 'f o 06 ', '9.f', '6g', '6G', '6 g', '6 G',
       'G o 06', '6-G', 'Noveno E', 16.0, '11-16', 1116.0, 906.0, '0 o 6',
       'f o 6', '06', '6 seis', 6.0, 'C o 03', '6 C', '6 c', '07', 607.0,
       7.0, 15.0, '9-1', 'No 1', 'noveno 1', '9.1', '9-2', 902.0, '9_2',
       2.0, 'b_2', '6-3', 603.0, 604.0, 9.0, 905.0, 95.0, '6-8', 608.0,
       'H O 608', '08', '6-08', '6 o 08', '9-5', 'f o 08', '6 08', '0 8',
       606.0, '9-6', 96.0, '09', '6`-7', '6-7', 605.0, '9-4',
       'sexto tres', 'Seis 3', 'sexto 3', 'sexto  tres', '6.3',
       'sexto   tres', '6-1', 'G o 07', '6.7', 809.0, 71.0, '6a', 'o7',
       '0 7', 'g o 07', 'G O 07', 'G o 7', 'g o7', '6 o 07', 'g o  07',
       'G 07', 'G 0 07', 'G 07 ', '07+', 'g  07', 'G o  07', 'SEXTO G O7',
       '6-07', 'g', "9'07", "9'07´", ' G-07', 'G - 07', 'g 06', '9 07',
       'g° 07', 'co06', '6-2', 62.0, 901.0, '9.4'], dtype=object)

In [36]:
df1["Grupo"]=df1["Grupo"].str.capitalize().str.replace("Sexto","").str.replace("Noveno","")
df1["Grupo"]=df1["Grupo"].str.replace(" ","")

#Respuesta de las encuestas
diccionariogrupos1={'Bo02':"02", 'Ao01':"01",'Co03':"03", 'Do04':"04", 'Eo05':"05"} #valor exactamente igual
df1["Grupo"]=df1["Grupo"].replace(diccionariogrupos1)

#cambiando letras por números
df1["Grupo"]=df1["Grupo"].replace(r'[Gg](.*)',"07",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[eE](.*)',"07",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[Ff](.*)',"06",regex=True) #regex buscador
df1["Grupo"]=df1["Grupo"].replace(r'[Hh](.*)',"08",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[Bb](.*)',"02",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[Aa](.*)',"01",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[Cc](.*)',"03",regex=True) #código que permita hacer cambio de una

#eliminando signos
df1["Grupo"]=df1["Grupo"].str.replace("_","")
df1["Grupo"]=df1["Grupo"].str.replace("`","")
df1["Grupo"]=df1["Grupo"].str.replace("´","")
df1["Grupo"]=df1["Grupo"].str.replace("-","")
df1["Grupo"]=df1["Grupo"].str.replace(".","")
df1["Grupo"]=df1["Grupo"].str.replace("'","")
df1["Grupo"]=df1["Grupo"].str.replace("+","")
df1["Grupo"]=df1["Grupo"].str.replace("o","")
df1["Grupo"]=df1["Grupo"].str.replace("No","") #3177 clases

#df[column_name].replace([old_value1, old_value2, old_value3], new_value)

#diccionario=(['a','b','c'],"") #hacer cambios de uno solo
#valor = diccionariogrupo1.setdefault(‘e’,5) para agregar nuevo dato al diccionario
#df1["Grupo"]=df1["Grupo"].replace(['_','-','.','+','o','No'],["","","","","",""],regex=True) para hacer los
#cambios anteriores al mismo o cambiar todos los valores anteriores por uno solo

df1["Grupo"].unique()

C:\Users\cvieira\AppData\Local\Temp\ipykernel_19288\3616830737.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1["Grupo"]=df1["Grupo"].str.replace(".","")
C:\Users\cvieira\AppData\Local\Temp\ipykernel_19288\3616830737.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1["Grupo"]=df1["Grupo"].str.replace("+","")

array([nan, '02', '01', '04', '05', '906', '06', '607', '07', '1116',
       '6s07', '03', '603', '91', 'N1', '1', '92', '63', '68', '08',
       '608', '95', '96', '09', '67', '94', 'tr07', 'S07', '3', '61',
       '601', 'O7', '907', '62'], dtype=object)

In [37]:
#reemplazando valores random
diccionariogrupos1={'Tres':"03",'tres':"03", 'O7':"07",'6seis':"06",'1116':"06"}
df1["Grupo"]=df1["Grupo"].replace(diccionariogrupos1)
df1["Grupo"]=df1["Grupo"].str.replace("S","").str.replace("s","").str.replace("tr","")
df1["Grupo"].unique()

array([nan, '02', '01', '04', '05', '906', '06', '607', '07', '03', '603',
       '91', 'N1', '1', '92', '63', '68', '08', '608', '95', '96', '09',
       '67', '94', '3', '61', '601', '907', '62'], dtype=object)

In [18]:
#Suponiendo que solo hay cursos de sexto en adelante
df1["Grupo"]=df1["Grupo"].replace(r'[1](.*)',"01",regex=True) #regex busca los valores que se coloque en to replace
df1["Grupo"]=df1["Grupo"].replace(r'[2](.*)',"02",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[3](.*)',"03",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[4](.*)',"04",regex=True)
df1["Grupo"]=df1["Grupo"].replace(r'[5](.*)',"05",regex=True) #La idea es que lo cambie directamente

df1["Grupo"]=df1["Grupo"].replace(r'[Ss](.*)',"",regex=True)
df1["Grupo"].unique()

array([nan, '002', '001', '004', '005', '906', '06', '607', '07', '01',
       '6s07', '003', '6003', '901', 'N01', '902', '603', '68', '08',
       '608', '905', '96', '09', '67', '904', 'tr07', 'S07', '03', '601',
       '6001', 'O7', '907', '602'], dtype=object)

In [14]:
#df1["Grupo"]=df1["Grupo"].replace(['tres','3'],["03","03"],regex=True)
#df1["Grupo"]=df1["Grupo"].replace(r'[03](.*)',"03",regex=True)
#df1["Grupo"]=df1["Grupo"].replace(r'[08](.*)',"08",regex=True)
#df1["Grupo"]=df1["Grupo"].replace(r'[07](.*)',"07",regex=True)
#df1["Grupo"]=df1["Grupo"].replace(r'[B2](.*)',"02",regex=True)
#eliminar valores por uno solo

diccionariogrupos1={'67':"07", '68':"08",'96':"06"}
df1["Grupo"]=df1["Grupo"].replace(diccionariogrupos1)

diccionariogrupos1={'Tres':"03",'tres':"03", 'O7':"07",'6seis':"06"}
df1["Grupo"]=df1["Grupo"].replace(diccionariogrupos1)
df1["Grupo"].unique()

#for i in len(df1['Grupo']):
    #if df1.loc[i,'Grupo']
        #df1[i,'Grupo']=
        #i=i+1
        
#print(i)

#len(df1["Grupo"]) #para saber si no se han perdido datos

#df['city']=df['city'].map('I am from {}'.format, na_action = 'ignore')
#df_updated = df.replace(to_replace ='[nN]ew', value = 'New_', regex = True)
#df.replace(['↑\s*', '↓\s*'], ['+', '-'], regex=True)

#df1.dropna(subset=["Grado"], inplace=True) para eliminar filas con valores nan
#df.loc[df.grades>50,'result']='success'

array([nan, '000002', '000001', '000004', '000005', '906', '06', '607',
       '07', '00001', '6s07', '000003', '6000003', '900001', 'N00001',
       '900002', '600003', '08', '608', '900005', '09', '900004', 'tr07',
       'S07', '00003', '600001', '6000001', '907', '600002'], dtype=object)