## Cuaderno para leer todas las dimensiones y unirlas

In [2]:
import pandas as pd

In [17]:
D2 = pd.read_excel('Dimensión 2.xlsx')
D2 = D2.loc[:,['Código IE', 'Dimensión 2']]
D2['Código IE'] = D2['Código IE'].astype(float).astype(int)
D2 = D2.set_index('Código IE')

In [18]:
D4 = pd.read_excel('Dimension 4.xlsx')
D4 = D4.loc[:,['Código IE', 'Dimensión 4']]
D4['Código IE'] = D4['Código IE'].astype(float).astype(int)
D4 = D4.set_index('Código IE')

In [19]:
D7 = pd.read_excel('Dimensión 7.xlsx')
D7 = D7.loc[:,['Código IE', 'Dimensión 7']]
D7['Código IE'] = D7['Código IE'].astype(float).astype(int)
D7 = D7.set_index('Código IE')

In [ ]:
pd.concat()

In [24]:
marco = pd.concat([D2,D4,D7],ignore_index=False, axis=1)
marco = marco.fillna("0")
marco

          Dimensión 2 Dimensión 4 Dimensión 7
Código IE
2                  1B          2A          1B
3                  1B           3          1B
4                  1B          1A          1B
5                  1B          2B          2A
6                  1B           0          1B
...               ...         ...         ...
244                 0           0          1A
247                 0           0          1A
248                 0           0          1B
259                 0           0          1A
297                 0           0          2A

[188 rows x 3 columns]

In [25]:
marco.to_excel('Marco acumulativo.xlsx')