## Cuaderno para leer todas las dimensiones y unirlas

In [1]:
import pandas as pd

In [ ]:
D1 = pd.read_excel('Dimensión 1.xlsx')
D1 = D1.loc[:,['Código IE', 'Dimensión 1']]
D1['Código IE'] = D1['Código IE'].astype(float).astype(int)
D1 = D1.set_index('Código IE')

In [2]:
D2 = pd.read_excel('Dimensión 2.xlsx')
D2 = D2.loc[:,['Código IE', 'Dimensión 2']]
D2['Código IE'] = D2['Código IE'].astype(float).astype(int)
D2 = D2.set_index('Código IE')

In [3]:
D4 = pd.read_excel('Dimension 4.xlsx')
D4 = D4.loc[:,['Código IE', 'Dimensión 4']]
D4['Código IE'] = D4['Código IE'].astype(float).astype(int)
D4 = D4.set_index('Código IE')

In [4]:
D5 = pd.read_excel('Dimensión 5.xlsx')
D5 = D5.loc[:,['Código IE', 'Dimensión 5']]
D5['Código IE'] = D5['Código IE'].astype(float).astype(int)
D5 = D5.set_index('Código IE')

In [5]:
D7 = pd.read_excel('Dimensión 7.xlsx')
D7 = D7.loc[:,['Código IE', 'Dimensión 7']]
D7['Código IE'] = D7['Código IE'].astype(float).astype(int)
D7 = D7.set_index('Código IE')

In [6]:
D8 = pd.read_excel('Dimensión 8.xlsx')
D8 = D8.loc[:,['Código IE', 'Dimensión 8']]
D8['Código IE'] = D8['Código IE'].astype(float).astype(int)
D8 = D8.set_index('Código IE')

In [65]:
marco = pd.concat([D2,D4,D5,D7,D8],ignore_index=False, axis=1)
marco = marco.fillna("0")
marco = marco.reset_index()

In [66]:
marco

     Código IE Dimensión 2 Dimensión 4 Dimensión 5 Dimensión 7 Dimensión 8
0            2          1B          2A          1A          2A          1A
1            3          1B           3          1A          2A          1A
2            4          1B          1A          1A          2A          1A
3            5          1B          2B          1A          2B           4
4            6          1B          2A          1A          2A          1A
..         ...         ...         ...         ...         ...         ...
241        207           0           0           0          1B           0
242        232           0           0           0          2A           0
243        234           0           0           0          2A           0
244        242           0           0           0          2A           0
245        245           0           0           0          2A           0

[246 rows x 6 columns]

In [67]:
moda = marco.filter(regex='Dimen').mode(axis=0)
moda['Código IE'] = 'Moda'
marco = pd.concat([marco,moda])
marco

    Código IE Dimensión 2 Dimensión 4 Dimensión 5 Dimensión 7 Dimensión 8
0           2          1B          2A          1A          2A          1A
1           3          1B           3          1A          2A          1A
2           4          1B          1A          1A          2A          1A
3           5          1B          2B          1A          2B           4
4           6          1B          2A          1A          2A          1A
..        ...         ...         ...         ...         ...         ...
242       232           0           0           0          2A           0
243       234           0           0           0          2A           0
244       242           0           0           0          2A           0
245       245           0           0           0          2A           0
0        Moda          1B          2A          1A          2A          1A

[247 rows x 6 columns]

In [68]:
niveles_num = dict(zip(['1A','1B', '2A', '2B', '3', '4', '5'],list(range(1,6))))
num_niveles = dict(zip(list(range(1,6)), ['1A','1B', '2A', '2B', '3', '4', '5']))
niveles_num

{'1A': 1, '1B': 2, '2A': 3, '2B': 4, '3': 5}

In [69]:
marco_num = marco.replace(niveles_num)
marco_num

    Código IE Dimensión 2 Dimensión 4 Dimensión 5 Dimensión 7 Dimensión 8
0           2           2           3           1           3           1
1           3           2           5           1           3           1
2           4           2           1           1           3           1
3           5           2           4           1           4           4
4           6           2           3           1           3           1
..        ...         ...         ...         ...         ...         ...
242       232           0           0           0           3           0
243       234           0           0           0           3           0
244       242           0           0           0           3           0
245       245           0           0           0           3           0
0        Moda           2           3           1           3           1

[247 rows x 6 columns]

In [70]:
media = round(marco_num.filter(regex='Dimen*').astype(int).mean())
media['Código IE'] = 'Promedio'
media = media.replace(num_niveles)
media = pd.DataFrame(media)
media.T

  Dimensión 2 Dimensión 4 Dimensión 5 Dimensión 7 Dimensión 8 Código IE
0          1B          2A          1A          1B          1A  Promedio

In [71]:

marco = pd.concat([marco,media.T])

marco

    Código IE Dimensión 2 Dimensión 4 Dimensión 5 Dimensión 7 Dimensión 8
0           2          1B          2A          1A          2A          1A
1           3          1B           3          1A          2A          1A
2           4          1B          1A          1A          2A          1A
3           5          1B          2B          1A          2B           4
4           6          1B          2A          1A          2A          1A
..        ...         ...         ...         ...         ...         ...
243       234           0           0           0          2A           0
244       242           0           0           0          2A           0
245       245           0           0           0          2A           0
0        Moda          1B          2A          1A          2A          1A
0    Promedio          1B          2A          1A          1B          1A

[248 rows x 6 columns]

In [72]:
marco.to_excel('Marco acumulativo.xlsx', index=False)