## Cuaderno para leer todas las dimensiones y unirlas

In [6]:
import pandas as pd

In [7]:
D1 = pd.read_excel('Dimensión 1.xlsx')
D1 = D1.loc[:,['Código IE', 'Dimensión 1']]
D1['Código IE'] = D1['Código IE'].astype(float).astype(int)
D1 = D1.set_index('Código IE')

In [8]:
D2 = pd.read_excel('Dimensión 2.xlsx')
D2 = D2.loc[:,['Código IE', 'Dimensión 2']]
D2['Código IE'] = D2['Código IE'].astype(float).astype(int)
D2 = D2.set_index('Código IE')

In [9]:
D4 = pd.read_excel('Dimension 4.xlsx')
D4 = D4.loc[:,['Código IE', 'Dimensión 4']]
D4['Código IE'] = D4['Código IE'].astype(float).astype(int)
D4 = D4.set_index('Código IE')

In [10]:
D5 = pd.read_excel('Dimensión 5.xlsx')
D5 = D5.loc[:,['Código IE', 'Dimensión 5']]
D5['Código IE'] = D5['Código IE'].astype(float).astype(int)
D5 = D5.set_index('Código IE')

In [11]:
D7 = pd.read_excel('Dimensión 7.xlsx')
D7 = D7.loc[:,['Código IE', 'Dimensión 7']]
D7['Código IE'] = D7['Código IE'].astype(float).astype(int)
D7 = D7.set_index('Código IE')

In [12]:
D8 = pd.read_excel('Dimensión 8.xlsx')
D8 = D8.loc[:,['Código IE', 'Dimensión 8']]
D8['Código IE'] = D8['Código IE'].astype(float).astype(int)
D8 = D8.set_index('Código IE')

In [14]:
marco = pd.concat([D1,D2,D4,D5,D7,D8],ignore_index=False, axis=1)
marco = marco.fillna("0")
marco = marco.reset_index()

In [15]:
marco

,Código IE,Dimensión 1,Dimensión 2,Dimensión 4,Dimensión 5,Dimensión 7,Dimensión 8
0,1,0,0,2B,1A,2A,1B
1,2,1A,1B,2A,1A,2A,1A
2,3,1A,1B,3,1A,2A,1A
3,4,1B,1B,1A,1A,2A,1A
4,5,1A,1B,2B,1A,2B,4
...,...,...,...,...,...,...,...
246,250,1A,1B,2A,1A,1B,1A
247,251,1A,1B,2B,1A,1B,2A
248,252,1A,1B,2B,1A,2A,1A
249,192,0,0,0,0,0,0
250,234,0,0,0,0,2A,0

In [16]:
moda = marco.filter(regex='Dimen').mode(axis=0)
moda['Código IE'] = 'Moda'
marco = pd.concat([marco,moda])
marco

,Código IE,Dimensión 1,Dimensión 2,Dimensión 4,Dimensión 5,Dimensión 7,Dimensión 8
0,1,0,0,2B,1A,2A,1B
1,2,1A,1B,2A,1A,2A,1A
2,3,1A,1B,3,1A,2A,1A
3,4,1B,1B,1A,1A,2A,1A
4,5,1A,1B,2B,1A,2B,4
...,...,...,...,...,...,...,...
247,251,1A,1B,2B,1A,1B,2A
248,252,1A,1B,2B,1A,2A,1A
249,192,0,0,0,0,0,0
250,234,0,0,0,0,2A,0
0,Moda,1A,1B,2A,1A,2A,1A

In [17]:
niveles_num = dict(zip(['1A','1B', '2A', '2B', '3', '4', '5'],list(range(1,6))))
num_niveles = dict(zip(list(range(1,6)), ['1A','1B', '2A', '2B', '3', '4', '5']))
niveles_num

{'1A': 1, '1B': 2, '2A': 3, '2B': 4, '3': 5}

In [18]:
marco_num = marco.replace(niveles_num)
marco_num

,Código IE,Dimensión 1,Dimensión 2,Dimensión 4,Dimensión 5,Dimensión 7,Dimensión 8
0,1,0,0,4,1,3,2
1,2,1,2,3,1,3,1
2,3,1,2,5,1,3,1
3,4,2,2,1,1,3,1
4,5,1,2,4,1,4,4
...,...,...,...,...,...,...,...
247,251,1,2,4,1,2,3
248,252,1,2,4,1,3,1
249,192,0,0,0,0,0,0
250,234,0,0,0,0,3,0
0,Moda,1,2,3,1,3,1

In [19]:
media = round(marco_num.filter(regex='Dimen*').astype(int).mean())
media['Código IE'] = 'Promedio'
media = media.replace(num_niveles)
media = pd.DataFrame(media)
media.T

,Dimensión 1,Dimensión 2,Dimensión 4,Dimensión 5,Dimensión 7,Dimensión 8,Código IE
0,1A,1B,1B,1A,1B,1A,Promedio

In [20]:

marco = pd.concat([marco,media.T])

marco

,Código IE,Dimensión 1,Dimensión 2,Dimensión 4,Dimensión 5,Dimensión 7,Dimensión 8
0,1,0,0,2B,1A,2A,1B
1,2,1A,1B,2A,1A,2A,1A
2,3,1A,1B,3,1A,2A,1A
3,4,1B,1B,1A,1A,2A,1A
4,5,1A,1B,2B,1A,2B,4
...,...,...,...,...,...,...,...
248,252,1A,1B,2B,1A,2A,1A
249,192,0,0,0,0,0,0
250,234,0,0,0,0,2A,0
0,Moda,1A,1B,2A,1A,2A,1A
0,Promedio,1A,1B,1B,1A,1B,1A

In [21]:
marco.to_excel('Marco acumulativo.xlsx', index=False)