## Cuaderno para leer todas las dimensiones y unirlas

In [1]:
import pandas as pd

In [2]:
D1 = pd.read_excel('Dimensión 1.xlsx')
D1 = D1.loc[:,['Código IE', 'Dimensión 1']]
D1['Código IE'] = D1['Código IE'].astype(float).astype(int)
D1 = D1.set_index('Código IE')

In [3]:
D2 = pd.read_excel('Dimensión 2.xlsx')
D2 = D2.loc[:,['Código IE', 'Dimensión 2']]
D2['Código IE'] = D2['Código IE'].astype(float).astype(int)
D2 = D2.set_index('Código IE')

In [4]:
D3 = pd.read_excel('Dimensión 3.xlsx')
D3 = D3.loc[:,['Código IE', 'Dimensión 3']]
D3['Código IE'] = D3['Código IE'].astype(float).astype(int)
D3 = D3.set_index('Código IE')

In [5]:
D4 = pd.read_excel('Dimension 4.xlsx')
D4 = D4.loc[:,['Código IE', 'Dimensión 4']]
D4['Código IE'] = D4['Código IE'].astype(float).astype(int)
D4 = D4.set_index('Código IE')

In [6]:
D5 = pd.read_excel('Dimensión 5.xlsx')
D5 = D5.loc[:,['Código IE', 'Dimensión 5']]
D5['Código IE'] = D5['Código IE'].astype(float).astype(int)
D5 = D5.set_index('Código IE')

In [7]:
D6 = pd.read_excel('Dimensión 6.xlsx')
D6 = D6.loc[:,['Código IE', 'Dimensión 6']]
D6['Código IE'] = D6['Código IE'].astype(float).astype(int)
D6 = D6.set_index('Código IE')

In [8]:
D7 = pd.read_excel('Dimensión 7.xlsx')
D7 = D7.loc[:,['Código IE', 'Dimensión 7']]
D7['Código IE'] = D7['Código IE'].astype(float).astype(int)
D7 = D7.set_index('Código IE')

In [9]:
D8 = pd.read_excel('Dimensión 8.xlsx')
D8 = D8.loc[:,['Código IE', 'Dimensión 8']]
D8['Código IE'] = D8['Código IE'].astype(float).astype(int)
D8 = D8.set_index('Código IE')

In [10]:
marco = pd.concat([D1,D2,D3,D4,D5,D6,D7,D8],ignore_index=False, axis=1)
marco = marco.fillna("0")
marco = marco.reset_index()

In [11]:
marco

,Código IE,Dimensión 1,Dimensión 2,Dimensión 3,Dimensión 4,Dimensión 5,Dimensión 6,Dimensión 7,Dimensión 8
0,1,0,0,0,2B,1A,0,2A,1B
1,2,1A,1B,2A,2A,1A,1B,2A,1A
2,3,1A,1B,2A,3,1A,1B,2A,1A
3,4,1B,1B,2A,1A,1A,1B,2A,1A
4,5,1A,1B,1A,2B,1A,1B,2B,4
...,...,...,...,...,...,...,...,...,...
247,248,1A,1B,1A,1A,1A,1B,2A,1A
248,249,1A,1B,1A,2B,1A,1B,1B,1A
249,250,1A,1B,1A,2A,1A,1B,1B,1A
250,251,1A,1B,1A,2B,1A,1B,1B,2A
251,252,1A,1B,1A,2B,1A,1B,2A,1A

In [12]:
moda = marco.filter(regex='Dimen').mode(axis=0)
moda['Código IE'] = 'Moda'
marco = pd.concat([marco,moda])
marco

,Código IE,Dimensión 1,Dimensión 2,Dimensión 3,Dimensión 4,Dimensión 5,Dimensión 6,Dimensión 7,Dimensión 8
0,1,0,0,0,2B,1A,0,2A,1B
1,2,1A,1B,2A,2A,1A,1B,2A,1A
2,3,1A,1B,2A,3,1A,1B,2A,1A
3,4,1B,1B,2A,1A,1A,1B,2A,1A
4,5,1A,1B,1A,2B,1A,1B,2B,4
...,...,...,...,...,...,...,...,...,...
248,249,1A,1B,1A,2B,1A,1B,1B,1A
249,250,1A,1B,1A,2A,1A,1B,1B,1A
250,251,1A,1B,1A,2B,1A,1B,1B,2A
251,252,1A,1B,1A,2B,1A,1B,2A,1A
0,Moda,1A,1B,1A,2A,1A,1B,2A,1A

In [13]:
niveles_num = dict(zip(['1A','1B', '2A', '2B', '3', '4', '5'],list(range(1,6))))
num_niveles = dict(zip(list(range(1,6)), ['1A','1B', '2A', '2B', '3', '4', '5']))
niveles_num

{'1A': 1, '1B': 2, '2A': 3, '2B': 4, '3': 5}

In [14]:
marco_num = marco.replace(niveles_num)
marco_num

,Código IE,Dimensión 1,Dimensión 2,Dimensión 3,Dimensión 4,Dimensión 5,Dimensión 6,Dimensión 7,Dimensión 8
0,1,0,0,0,4,1,0,3,2
1,2,1,2,3,3,1,2,3,1
2,3,1,2,3,5,1,2,3,1
3,4,2,2,3,1,1,2,3,1
4,5,1,2,1,4,1,2,4,4
...,...,...,...,...,...,...,...,...,...
248,249,1,2,1,4,1,2,2,1
249,250,1,2,1,3,1,2,2,1
250,251,1,2,1,4,1,2,2,3
251,252,1,2,1,4,1,2,3,1
0,Moda,1,2,1,3,1,2,3,1

In [15]:
media = round(marco_num.filter(regex='Dimen*').astype(int).mean())
media['Código IE'] = 'Promedio'
media = media.replace(num_niveles)
media = pd.DataFrame(media)
media.T

,Dimensión 1,Dimensión 2,Dimensión 3,Dimensión 4,Dimensión 5,Dimensión 6,Dimensión 7,Dimensión 8,Código IE
0,1A,1B,1B,2A,1A,1B,1B,1A,Promedio

In [16]:

marco = pd.concat([marco,media.T])

marco

,Código IE,Dimensión 1,Dimensión 2,Dimensión 3,Dimensión 4,Dimensión 5,Dimensión 6,Dimensión 7,Dimensión 8
0,1,0,0,0,2B,1A,0,2A,1B
1,2,1A,1B,2A,2A,1A,1B,2A,1A
2,3,1A,1B,2A,3,1A,1B,2A,1A
3,4,1B,1B,2A,1A,1A,1B,2A,1A
4,5,1A,1B,1A,2B,1A,1B,2B,4
...,...,...,...,...,...,...,...,...,...
249,250,1A,1B,1A,2A,1A,1B,1B,1A
250,251,1A,1B,1A,2B,1A,1B,1B,2A
251,252,1A,1B,1A,2B,1A,1B,2A,1A
0,Moda,1A,1B,1A,2A,1A,1B,2A,1A
0,Promedio,1A,1B,1B,2A,1A,1B,1B,1A

In [17]:
marco.to_excel('Marco acumulativo.xlsx', index=False)